<header>

</header>

<div ng-app="sng-histogram" id="main" role="main">
  <div ng-controller='ArtistsController' ng-init="initArtists()">
    <section id="center">
      <h1>SNGram</h1>

      <p>Táto aplikácia bola vytvorená počas Hackathonu organizovaného SNG 28. a 29. novembra 2014</p>
      <a class="btn" href="http://hackathon.sng.sk/">Zistiť viac</a>
    </section>
    <section id="center">
      <img src="/assets/sng.logo.jpg" alt="sng logo">
    </section>





    <select class="selectpicker status-filter" ng-model="selectedArtist" >
      <option style="display:none" value="">Umelec</option>

            <option ng-repeat = "artist in artists">{{artist.name}} ({{artist.records_count}})</option>

    </select>


  </div>
</div>

<footer id="credits">
  <p><strong>©HistroBistro</strong></p>
</footer>
