<header>
    <h1>SNGram</h1>
    <p>Táto aplikácia bola vytvorená počas Hackathonu organizovaného SNG 28. a 29. novembra 2014</p>
    <a class="btn" href="http://hackathon.sng.sk/">Zistiť viac</a>

</header>

<div id="main" role="main">
  <section id="center">
    <img src="/assets/sng.logo.jpg" alt ="sng logo">
  </section>
</div>


<footer id="credits">
  <p><strong>©HistroBistro</strong></p>
</footer>
