<header>
  <script src="#{Rails.root}/bower_components/angular-ui-tags/build/angular-bootstrap-select.min.js"></script>

</header>

<div ng-app="sng-histogram" id="main" role="main">
  <div ng-controller='ArtistsController' ng-init="initArtists()">
    <section id="center">
      <h1>SNGram</h1>

      <p>Táto aplikácia bola vytvorená počas Hackathonu organizovaného SNG 28. a 29. novembra 2014</p>
      <a class="btn" href="http://hackathon.sng.sk/">Zistiť viac</a>
    </section>
    <div ng-controller="ErasController">
    <section id="center">
      <img src="/assets/sng.logo.jpg" alt="sng logo">

    <select   class="cs-select cs-skin-overlay selector" ng-model="selectedArtist" ng-change= "viewAggregatedHistogram(selectedArtist)" >
      <option style="display:none" value="">Umelec</option>

            <option   value={{artist.id}}  ng-repeat = "artist in artists">{{artist.name}} {{artist.images_urls}}({{artist.records_count}})</option>
    </select>
    </section>


      <a ng-href="{{image}}" data-lightbox="artworks"> <img class="single-thumbnail"  ng-show='era' ng-repeat='image in era.images_urls' ng-src='{{image}}'></a>



    </div>



    <div class="aggregated_histogram" ng-show = selectedArtist>

    </div>

  </div>
</div>

<footer id="credits">
  <p><strong>©HistroBistro</strong></p>
</footer>
