<header>
  <nav id ="navbar"class="navbar navbar-default">

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header page-scroll">
        <a id="navbar" class="navbar-brand" href="#top">
          SNGRAM
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <a id="navbar" class="navbar-contact" href="#contact">tu bude timeline</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <select class="selectpicker status-filter"  ng-model="selectedArtist" selected="Umelec">
        <option style="display:none">Umelec</option>
        <option ng-repeat = "artist in artists">{{artist.name}} ({{artist.records_count}})</option>
        <option ng-repeat = "artist in artists">1</option>
      </select>
    </div>
    <div class="col-sm-4">
      Filter by price interval: <b>€ 10</b>
      <input id="sl2" type="text" class="span2" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide"> <b>€ 1000</b>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<section id="graph"></section>

<div ng-app="sng-histogram" id="main" role="main">
  <div ng-controller='ArtistsController' ng-init="initArtists()">
    <section id="center">
      <h1>SNGram</h1>

      <p>Táto aplikácia bola vytvorená počas Hackathonu organizovaného SNG 28. a 29. novembra 2014</p>
      <a class="btn" href="http://hackathon.sng.sk/">Zistiť viac</a>
    </section>
    <section id="center">
      <img src="/assets/sng.logo.jpg" alt="sng logo">
    </section>


  </div>

</div>
    <script>
        var slider = new Slider('#sl2', {});
    </script>

<script src="http://d3js.org/d3.v3.min.js"></script>

    <script>
        var data = {"countries_msg_vol": {
            "CA": 170, "US": 393, "CU": 9, "BR": 89,
            "MX": 192, "Other": 254
        }};
        var colordata = {"colors": {
            "#DF4949": 170, "#38di4f": 393, "#E27A3F": 9, "#e00213": 89,
                    "#45B29D": 192, "#ffffff": 254
        }};


        var diameter = 600;

        var svg = d3.select('#graph').append('svg')
                .attr('width', diameter)
                .attr('height', diameter);

        var bubble = d3.layout.pack()
                .size([diameter, diameter])
                .value(function(d) {return d.size;}) // new data will be loaded to bubble layout
                .padding(3);

        function processData(data) {
            //var obj = data.countries_msg_vol;
            var obj = colordata.colors;

            var newDataSet = [];

            for(var prop in obj) {
                newDataSet.push({name: prop,
                    className: prop.toLowerCase(), size: obj[prop]});
            }
            return {children: newDataSet};
        }

        var nodes = bubble.nodes(processData(data))
            // filter out the outer bubble
                .filter(function(d) { return !d.children; });

        var vis = svg.selectAll('circle')
                .data(nodes, function(d) { return d.name; });

        vis.enter().append('circle')
                .attr('transform', function(d) { return 'translate('
                        + d.x + ',' + d.y + ')'; })
                .attr('r', function(d) { return d.r; })
                .attr('fill', function(d) { return d.className; })
                .attr('class', function(d) { return d.className; });
    </script>

<script>
    var colordata = [
        {
            "color" :"#DF4949",
            "value": "76"
        },
        {
            "color" :"#38di4f",
            "value": "54"
        },
        {
            "color" :"#E27A3F",
            "value": "100"
        },
        {
            "color" :"#e00213",
            "value": "89"
        },
        {
            "color" :"#45B29D",
            "value": "6"
        },
        {
            "value": "4",
            "color" :"#000000"
        }
    ];

    var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 600 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
            .range([height, 0]);

    var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

    var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10, "%");

    var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    x.domain(colordata.map(function(d) { return d.color; }));
    y.domain([0, d3.max(colordata, function(d) { return d.value; })]);

    //svg.append("g")
    //        .attr("class", "x axis")
    //        .attr("transform", "translate(0," + height + ")")
    //        .call(xAxis);

    svg.selectAll(".bar")
            .data(colordata)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return x(d.color); })
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d) { return height - y(d.value); })
            .style("fill", function(d) { return d.color; });

    function type(d) {
        d.frequency = +d.frequency;
        return d;
    }
</script>

<script src="js/jquery.js"></script>
<script src="js/bootstrap-slider.js"></script>

<footer id="credits">
  <p><strong>©HistroBistro</strong></p>
</footer>
